* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }

  .main-nav a {
    border-style:solid;
    border-width: 1px;
    border-color: #666666;
    font-size: 20px;
    font-weight: 600;
    margin:12px;
    width:100%;
    text-align: center;
    padding:15px;
}

  .main-nav ul {
    width:40%;
  }

.main-nav ul, a {
    list-style: none;
    /* padding:5px; */
    color:white;
    align-items: space-between;
    text-align: center;
    display:flex;
    justify-content: center;
    text-decoration: none;
}

.main-nav {
    background-color:#383e4c;
    height:8vh;
}

.hero {
    height:50vh;
    background-image: url(layout-01-assets/img11.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.hero h1 {
  font-size: 70px;
}

.hero p {
  font-size: 25px;
  text-shadow:1px 1px black;
}

footer img {
 position: absolute;
 padding:10px;
 align-items: right;
 display:flex;
}

.cb-text h2 {
  font-weight:bolder;
}

#green-box h2 {
    color:green;
  }

#red-box h2 {
  color:#666666;
}

#blue-box h2 {
  color:#1686c1;
}

  .hero-content {
    text-align: center;
    color:white;
  }

  .hero-content h1 {
    text-shadow:2px 2px black;
  }

  .exp {
    display:flex;
    flex-direction: row;
    
    width:60%; 
   
    align-items: center;
    justify-content: space-around;
    margin-top:5vh;
  }

.content-box-1 {
    width:50%; 
    height: 30em;
    margin-right: 2em;
    background-color: #f2f2f2;
}

.content-box-1 p, h2 {
  padding:10px;
  font-weight: bold;
}

.cb-text {
    width:100%;
}

.cb-img img {
  width: 100%;
}

.exp-2 {
    display:flex;
    flex-direction: row;
    width:60%;
    margin-top: 5vh;
}

.content-box-2 {
    width:40%;
    background-color: #f2f2f2;
    align-items: space-between;
}

.exp-3 {
  display:flex;
  margin-top:5vh;
  flex-direction: row;
  width:80%;
}

.exp-4 {
  width:76%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#red-b {
  background-color:#852406;
}

#blue-b {
  background-color:#1686c1;
}

#green-b {
  background-color:#178a27;
}

.cb-text button {
  display: flex;
  align-items: center;
}

.button-1 {
  font-size: 18px;
  color:white;
  padding:5px;
  margin:25px;
  border-radius: 5%;
  border-color: transparent;
  width:7vw;
}

.white {
  background-color:white;
  padding:5px;
  margin:25px;
  border-radius: 5%;
  font-size:large;
  color:#666666;
  border-color:transparent;
  width:5vw;
}


.content-box-4 {
  background-color: #f2f2f2;
}

.content-box-3 {
  width:20%; 
  background-color: #f2f2f2;
  align-items: space-between;
}

.divider {
    height:50vh;
    margin-top:5vh;
    background-image: url(layout-01-assets/img13.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
  }

  .divider-content {
    text-align: center;
    color:white;
  }

  .divider-content h2 {
    text-shadow:2px 2px #666666;
  }

  .divider-content p {
    width:60%;
  }
  
.content-box-2 h2 {
  text-align: center;
  color:#666666;
  padding-bottom: 20px;
  font-weight: bold;
}

.content-box-2 p {
  padding:25px;
}

.contact {
  height:55vh;
  background-image: url(layout-01-assets/img14.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}

.left-content {
  width:50%;
  display:flex;
  flex-direction: column;
}

.right-content {
  width:50%;
  display:flex;
  flex-direction: column;
}

.content-box-3 h3 {
  text-align: center;
  padding: 15px;
  color:#666666;
}

.content-box-3 p {
  padding:10px;
}

.content-box-4 h2 {
  color:#666666;
  padding:20px;
  padding-bottom: 0;
}

.content-box-4 p {
  padding:20px;
}

.contact-content h2 {
  text-shadow: 2px 2px white;
}

.contact-content {
  text-align: center;
  color:black;
  width:100%;
}

.contact-content p {
  background-color: rgba(241, 236, 236, 0.5);
  width: 40%;
  padding:40px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 1rem;
}

footer {
  height:20vh;
  color:#666666;
}

footer h2 {
  font-style: italic;
  padding:20px;
  text-align: center;
}

footer p {
  text-align: center;
  padding:20px;
}
